/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1, h2, h3 {
  font-family: Lucida Grande, Tahoma, Sans-Serif;
}

h1 {
  letter-spacing: -0.075em;
}

h2, h3 {
  letter-spacing: -0.025em;
}

h1 > a {
  color: #fff;
  text-decoration: none;
}

h1 > a:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron, .page-header {
  color: #fff;
  background-color: #337ab7;
}

.page-header {
  margin-top: 0;
}

.homepage {
  background-color: #337ab7;
  background-image: linear-gradient(#fff, #9cc2e3 80%);
}

.logo-container {
  padding: 1rem;
  margin-right: 1rem;
}

img.logo {
  width: 12rem;
  height: 12rem;
}

.page-header .logo {
  width: 6rem;
  height: 6rem;
}

.terms > a {
  margin-left: 1em;
}









