/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
  color: #fff;
  background-color: #337ab7;
}

.homepage {
  background-color: #337ab7;
  background-image: linear-gradient(#fff, #337ab7 80%);
}
















